{% extends "base/page_base_manu.html" %}

{% block title %}
view
{% endblock title %}

{% block brandlink %}
  {% url 'mM_index' m_id %}
{% endblock brandlink %}

{% block brand_small %}
For Manufacturer
{% endblock brand_small %}


{% block page_view %}
<div class="alert alert-light" role="alert">
  <a href="{% url 'mM_index' m_id %}" class="alert-link">&lt;&lt;Back to Homepage</a>
</div>
<div class="container-md col-md-9 mb-4">
  <form role="form" class="form-horizontal my-3" action="{% url 'mM_p_jumpto' m_id %}" method="POST">
    {% csrf_token%}
      <label class="h4" for="p_id_selected">Product Name: </label>
      <select type="text" class="selectpicker show-tick form-control" id="p_id_selected" data-width="98%" data-first-option="false" title="Choose one exist Manufacturer" required data-live-search="true" name="p_id_selected">
        <option selected value="{{product.p_id}}">{{product.p_name}}</option>
        {% for p in productlist_valid %}
          <option value="{{p.p_id}}">{{p.p_name}}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-dark mt-2">
          Jump to
      </button>
  </form>
  <hr />
  <h4>Modification history</h4>
  <div class="table-responsive pt-3">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr style="font-size:.75rem">
          <th>Modification time</th>
          <th>Log</th>
        </tr>
      </thead>
      <tbody>
      {% for key,value in log_dic.items %}
          <tr class="text-center" style="font-size:.75rem">
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="AddLogDisplay" style="display:none">
    <form role="form" class="form-horizontal my-3" action="{% url 'mM_addlog' m_id product.p_id %}" method="POST">
      {% csrf_token%}
      <div class="form-group">
          <label for="new_log">Add new log of Modifications</label>
          <textarea class="form-control" id="new_log" name="new_log" rows="3" required></textarea>
          <div class="valid-feedback">Looks good!</div>
      </div>
      <button type="submit" class="btn btn-dark">
          Confirm
      </button>
      <button type="button" class="btn btn-secondary" id="add_no_log">Cancel</button>
    </form>
  </div>
  <button class="btn btn-link bg-light" style="color:#212529" id="add_log">
  + Add new Modification Log
  </button>
  <hr />
  <div id="Status" class="">
    <form role="form" class="form-horizontal" action="{% url 'mM_StatusUpdate' m_id product.p_id %}" method="POST">
      {% csrf_token%}
      <label for="update_status" class="h4">Producing status: </label>
      <div class="container">
        <div class="row row-cols-3">
        <div class="col">Preparing</div>
        <div class="col text-center">Manufacturing</div>
        <div class="col text-right">Distributing</div>
      </div>
    </div>
      <div class="col-auto">
        <input type="range" class="custom-range" min="0" max="2" id="update_status" name="update_status" value="{{ pm_record.m_status }}">
      </div>
      <button type="submit" class="btn btn-dark mt-2">
        Update
      </button>

    </form>
  </div>
  <hr />
  <div id="ProducingPeriod" class="">
    <form role="form" class="form-horizontal" action="{% url 'mM_addProducingPeriod' m_id product.p_id %}" method="POST">
      {% csrf_token%}
        <label class="h4" for="new_ProducingPeriod">Producing period: </label>
      <div class="form-row">
        <div class="col-auto">
          <input type="text" class="form-control" id="new_ProducingPeriod" name="new_ProducingPeriod" rows="3" required placeholder="{{ pm_record.producing_period }}">
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-dark">
              Update
          </button>
        </div>
      </div>
    </form>
  </div>

</div>


<script type="text/javascript">
  //window.onload = function () {
  //    var add_log =  document.getElementById("add_log");
  //  add_log.className = "disabled"
  //}
  document.getElementById("add_log").onclick = displayLogAddForm;
  document.getElementById("add_no_log").onclick = displayNoLogAddForm;
  function displayLogAddForm() {
    dform = document.getElementById("AddLogDisplay")
    dform.style.display='';
  }
  function displayNoLogAddForm() {
    dform = document.getElementById("AddLogDisplay")
    dform.style.display='None';
  }
</script>
<script>
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();




</script>
{% endblock page_view %}

