{% extends "base/page_base.html" %}

{% block brandlink %}
  {% url 'mAD_index' %}
{% endblock brandlink %}

{% block brand_small %}
Manage your own Virtual Products
{% endblock brand_small %}

{% block title %}
users_recovery
{% endblock title %}

{% block sidebar %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar-light bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3 pl-3">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_index' %}">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_user' %}">
          <span data-feather="file"></span>
          Constructors
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_p_show' %}">
          <span data-feather="file"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'mAD_manu_manu' %}">
          <span data-feather="file"></span>
          Manufacturers
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock sidebar %}

{% block page_view %}
  {% if rec_status == 0 %}
    <div class="container-md py-5 col-md-9">
      <h3>Tips:</h3>
      <p>{{info}}</p>
      <a class="btn btn-dark" href="{% url 'mAD_manu' %}">Retry</a>
    </div>
  {% elif rec_status == 1 %}
    <div class="container-md py-5 col-md-9">
      <h3>Tips:</h3>
      <p>{{info}}</p>
      <a class="btn btn-dark" href="{% url 'mAD_manu' %}">Continue</a>
    </div>
  {% endif %}
{% endblock page_view %}

{% block signout_model_redirect %}
  {% url 'mAD_signin' %}
{% endblock signout_model_redirect %}