{% extends "base/page_base.html" %}

{% block brandlink %}
  {% url 'mAD_index' %}
{% endblock brandlink %}

{% block brand_small %}
Manage your own Virtual Products
{% endblock brand_small %}

{% block title %}
users_add
{% endblock title %}

{% block sidebar %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar-light bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3 pl-3">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_index' %}">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_user' %}">
          <span data-feather="file"></span>
          Constructors
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_p_show' %}">
          <span data-feather="file"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'mAD_manu' %}">
          <span data-feather="file"></span>
          Manufacturers
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock sidebar %}

{% block page_view %}
<div class="table-responsive pt-3">
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr style="font-size:.5rem">
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Addtime</th>
        <th>Address</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    {% for manu in manulist %}

        {% if manu.m_status == 0 %}
        <tr class="text-center" style="font-size:.75rem">
          <td>{{ manu.m_id }}</td>
          <td>{{ manu.m_name }}</td>
          <td>{{ manu.contact }}</td>
          <td>Normal</td>
          <td>{{ manu.addtime }}</td>
          <td>{{ manu.addr }}</td>
          <td>
            <div class="d-flex" >
              <a class=" btn btn-outline-danger btn-sm mr-2" href="{% url 'mAD_manu_del' manu.m_id %}" style="color:#212529;font-size:0.5rem">Delete</a>

            </div>
          </td>
        </tr>

        {% elif manu.m_status == 1 %}
        <tr class="text-center" style="color:#dc3545;font-size:.75rem" >
          <td>{{ manu.m_id }}</td>
          <td>{{ manu.m_name }}</td>
          <td>{{ manu.contact }}</td>
          <td>Deleted</td>
          <td>{{ manu.addtime }}</td>
          <td>{{ manu.addr }}</td>
          <td>
            <div class="d-flex" >
              <a class=" btn btn-outline-danger btn-sm mr-2" href="{% url 'mAD_manu_rec' manu.m_id %}" style="color:#212529;font-size:0.5rem">Recovery</a>
            </div>
          </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock page_view %}

{% block signout_model_redirect %}
  {% url 'mAD_signin' %}
{% endblock signout_model_redirect %}

