{% extends "base/page_base.html" %}

{% block brandlink %}
  {% url 'mAD_index' %}
{% endblock brandlink %}

{% block brand_small %}
Manage your own Virtual Products
{% endblock brand_small %}

{% block title %}
users_edit
{% endblock title %}

{% block sidebar %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar-light bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3 pl-3">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_index' %}">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'mAD_user' %}">
          <span data-feather="file"></span>
          Constructors
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_p_show' %}">
          <span data-feather="file"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mAD_manu' %}">
          <span data-feather="file"></span>
          Manufacturers
        </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock sidebar %}

{% block page_view %}
<div class="container-md py-5 col-md-9">
    <form role="form" class="form-horizontal needs-validation" action="{% url 'mAD_update' edit_user.u_id%}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token%}
        <div class="form-group">
            <label for="u_firstname">User Email</label>
            <input type="text" class="form-control" readonly id="Email" value="{{edit_user.Email}}" name="Email" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">
            <label for="u_firstname">First Name</label>
            <input type="text" class="form-control" id="u_firstname" placeholder="entry First Name" name="u_firstname" value="{{u_firstname}}" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">
            <label for="u_lastname">Last Name</label>
            <input type="text" class="form-control" id="u_lastname" placeholder="entry Last Name" name="u_lastname" value="{{u_lastname}}" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" class="form-control" id="Address" placeholder="Street Nr." name="Address" value="{{Address}}" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
              <label for="City">City</label>
              <input type="text" class="form-control" id="City" placeholder="City" name="City" value="{{City}}" required>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group col-md-4">
              <label for="State">State</label>
              <input type="text" class="form-control" id="State" placeholder="State" name="State" value="{{State}}" required>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-group col-md-4">
              <label for="Zip">Zip</label>
              <input type="text" class="form-control" id="Zip" name="Zip" value="{{Zip}}" required>
              <div class="valid-feedback">Looks good!</div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#ConfirmEdit">
            Submit
        </button>
    </form>
</div>
{% endblock page_view %}

{% block modals %}

{% endblock modals %}

{% block signout_model_redirect %}
  {% url 'mAD_signin' %}
{% endblock signout_model_redirect %}