{% extends "base/page_base_user.html" %}

{% block brandlink %}
  {% url 'mU_index' u_id %}
{% endblock brandlink %}

{% block brand_small %}
Manage your own Virtual Products
{% endblock brand_small %}

{% block title %}
product edit
{% endblock title %}

{% block sidebar %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar-light bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3 pl-3">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link " href="{% url 'mU_index'  u_id %}">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'mU_p_show'  u_id %}">
          <span data-feather="file"></span>
          Products
        </a>
      </li>
    </ul>
  </div>
    <!--
  <div class="navbar-nav sticky-bottom md-block" id="navbarSupportedHomepage">
    <ul class="navbar-nav text-white">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Hi, {{request.session.already_login.u_name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <button class="btn btn-link" type="button" data-toggle="modal" data-target="#ConfirmExit" style="font-size:0.5rem;color:#000">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
  -->
</nav>
{% endblock sidebar %}

{% block page_view %}
<div class="container-md py-5 col-md-9">
    <form role="form" class="form-horizontal needs-validation" action="{% url 'mU_p_right_updated' u_id p_id pm_id%}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token%}
        <h6 class="my-2">Change the access right of {{m_name}}: </h6>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="4" id="Read-only" name="Read-only">
          <label class="form-check-label" for="Read-only">
            This manufacturer can manufacture this product. [r]
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="2" id="Write-only" name="Write-only">
          <label class="form-check-label" for="Write-only">
            This manufacturer can modify this product. [w]
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" id="Distribute-only" name="Distribute-only">
          <label class="form-check-label" for="Distribute-only">
            This manufacturer can distribute this product to other manufacturers. [x]
          </label>
        </div>
        <button type="submit" class="btn btn-dark mt-2" data-toggle="modal" data-target="#ConfirmEdit">
            Submit
        </button>
    </form>
</div>
{% endblock page_view %}

{% block modals %}
{% endblock modals %}

