{% extends "base/page_base_user.html" %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href="{% static 'leaflet/leaflet.css'%}"/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="{% static 'leaflet/leaflet.js' %}"></script>
 <script src="{% static 'leaflet/leaflet.polylineDecorator.js' %}"></script>
{% endblock css %}

{% block brandlink %}
  {% url 'mU_index' u_id %}
{% endblock brandlink %}

{% block brand_small %}
Manage your own Virtual Products
{% endblock brand_small %}

{% block title %}
product view
{% endblock title %}

{% block sidebar %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar-light bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3 pl-3">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link " href="{% url 'mU_index'  u_id %}">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'mU_p_show'  u_id %}">
          <span data-feather="file"></span>
          Products
        </a>
      </li>
    </ul>
  </div>
  <!--
  <div class="navbar-nav sticky-bottom md-block" id="navbarSupportedHomepage">
    <ul class="navbar-nav text-white">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Hi, {{request.session.already_login.u_name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <button class="btn btn-link" type="button" data-toggle="modal" data-target="#ConfirmExit" style="font-size:0.5rem;color:#000">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
  -->
</nav>
{% endblock sidebar %}

{% block page_view %}
<div class="container-md py-5 col-md-9">
<form role="form" class="form-horizontal my-3" action="{% url 'mU_p_jumpto' u_id %}" method="POST">
  {% csrf_token%}
<label class="h3" for="p_id_selected">Product Name: </label>
<select type="text" class="selectpicker show-tick form-control" id="p_id_selected" data-width="98%" data-first-option="false" title="Choose one exist Manufacturer" required data-live-search="true" name="p_id_selected">
  <option selected value="{{product.p_id}}">{{product.p_name}}</option>
  {% for product in P_list %}
    <option value="{{product.p_id}}">{{product.p_name}}</option>
  {% endfor %}
</select>
<button type="submit" class="btn btn-dark mt-2">
    Jump to
</button>
</form>

<h3>Constructor Name</h3>
<table class="table table-bordered table-striped table-sm" id="u_name" >
  <thead>
    <tr style="font-size:.5rem">
      <th>Name</th>
      <th>Contact Email</th>
    </tr>
  </thead>
  <tbody>
  {% for name,email in user_dic.items %}
    <tr class="text-center" style="font-size:.75rem">
      <td>{{ name }}</td>
      <td>{{ email }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<label class="h3" for="p_manu">Manufacturers</label>
<table class="table table-bordered table-striped table-sm" id="p_manu">
  <thead>
    <tr style="font-size:.5rem">
      <th>Name</th>
      <th>Info</th>
      <th>Add Time</th>
      <th>Location</th>
      <th>Producing period</th>
      <th>Producing status</th>
      <th>Access Right</th>
    </tr>
  </thead>
  <tbody>
  {% for key,Manu in loc_dic.items %}
    <tr class="text-center" style="font-size:.75rem">
      <td>{{ Manu.name }}</td>
      <td>{{ Manu.parent_info }}</td>
      <td>{{ Manu.addtime }}</td>
      <td>{{ Manu.addr }}</td>
      <td>{{ Manu.producing_period }}</td>
      <td>{{ Manu.m_status }}</td>
      <td>{{ Manu.m_right }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a class="btn btn-link bg-light" style="color:#212529" href="{% url 'mU_p_edit_select' u_id p_id %}">
  + Add new manufacturer
</a>


<div class="container-fluid my-3" id="f_map">
    <div id="mapid" style="height: 600px; position: relative;" class="my-3"></div>
</div>
</div>
{% endblock page_view %}

{% block jsbd %}
<script>
  window.onload = function () {
      changeDivHeight();
  }
  window.onresize = function () {
      changeDivHeight();
  }



  var mymap = L.map('mapid').setView([{{ lat }}, {{ lon }}], {{ zoom_index }});
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2ZzZ2VudCIsImEiOiJjbDFwN2N0bWQwcWxzM2JwZ3BncDdpM3JlIn0.6WZHljjw5-YB2ELfb_VW1Q', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'your.mapbox.access.token'
  }).addTo(mymap);
  var blueIcon = new L.Icon({
	iconUrl: "{% static 'image/marker-icon-blue.png' %}",
	shadowUrl: "{% static 'image/marker-shadow.png' %}",
	iconSize: [20, 30],
	iconAnchor: [10, 30],
	popupAnchor: [1, -34],
	shadowSize: [30, 30]
  });
  var redIcon = new L.Icon({
	iconUrl: "{% static 'image/marker-icon-red.png' %}",
	shadowUrl: "{% static 'image/marker-shadow.png' %}",
	iconSize: [20, 30],
	iconAnchor: [10, 30],
	popupAnchor: [1, -34],
	shadowSize: [30, 30]
  });
  var yellowIcon = new L.Icon({
	iconUrl: "{% static 'image/marker-icon-yellow.png' %}",
	shadowUrl: "{% static 'image/marker-shadow.png' %}",
	iconSize: [20, 30],
	iconAnchor: [10, 30],
	popupAnchor: [1, -34],
	shadowSize: [30, 30]
  });
  {% for key,Manu in loc_dic.items %}
    var marker_{{ key }} = new L.marker([{{Manu.lat}}, {{Manu.lon}}], {icon: blueIcon}).addTo(mymap);
    marker_{{ key }}.bindPopup("<iframe src={% url 'mU_p_iframe' u_id p_id key %}></iframe>");
  {% endfor %}
  {% for key,Manu in loc_dic_need_valid.items %}
    var marker_{{ key }} = new L.marker([{{Manu.lat}}, {{Manu.lon}}], {icon: yellowIcon}).addTo(mymap);
    marker_{{ key }}.bindPopup("<iframe src={% url 'mU_p_iframe' u_id p_id key %}></iframe>");
  {% endfor %}
  {% for key,Manu in loc_dic_no_valid.items %}
    var marker_{{ key }} = new L.marker([{{Manu.lat}}, {{Manu.lon}}], {icon: redIcon}).addTo(mymap);
    marker_{{ key }}.bindPopup("<iframe src={% url 'mU_p_iframe' u_id p_id key %}></iframe>");
  {% endfor %}

  {% for m_id,line in line_dic.items %}
    var latlngs_{{ m_id }} = [
    [{{line.lat_p}}, {{line.lon_p}}],
    [{{line.lat}}, {{line.lon}}]
    ];
    var line_{{ m_id }} = new L.polyline(latlngs_{{ m_id }}).addTo(mymap);
    var decorator_line_{{ m_id }} = L.polylineDecorator(line_{{ m_id }}, {
        patterns: [
            {
                offset: 20,
                repeat: 20,
                symbol: L.Symbol.arrowHead({
                    pixelSize: 8,
                    polygon: false,
                    pathOptions: {
                        stroke: true,
                        weight: 2,
                        // color: '#fff'
                    }
                })
            }
        ]
    }).addTo(mymap);
  {% endfor %}
  {% for m_id,line in line_dic_need_valid.items %}
    var latlngs_{{ m_id }} = [
    [{{line.lat_p}}, {{line.lon_p}}],
    [{{line.lat}}, {{line.lon}}]
    ];
    var line_{{ m_id }} = new L.polyline(latlngs_{{ m_id }}, {color: '#cccc00',weight: 3,opacity: 1,smoothFactor: 1}).addTo(mymap);
    var decorator_line_{{ m_id }} = L.polylineDecorator(line_{{ m_id }}, {
        patterns: [
            {
                offset: 20,
                repeat: 20,
                symbol: L.Symbol.arrowHead({
                    pixelSize: 8,
                    polygon: false,
                    pathOptions: {
                        stroke: true,
                        weight: 2,
                        color: '#cccc00'
                    }
                })
            }
        ]
    }).addTo(mymap);
  {% endfor %}
  {% for m_id,line in line_dic_no_valid.items %}
    var latlngs_{{ m_id }} = [
    [{{line.lat_p}}, {{line.lon_p}}],
    [{{line.lat}}, {{line.lon}}]
    ];
    var line_{{ m_id }} = new L.polyline(latlngs_{{ m_id }}, {color: '#ff5050',weight: 3,opacity: 1,smoothFactor: 1}).addTo(mymap);
    var decorator_line_{{ m_id }} = L.polylineDecorator(line_{{ m_id }}, {
        patterns: [
            {
                offset: 20,
                repeat: 20,
                symbol: L.Symbol.arrowHead({
                    pixelSize: 8,
                    polygon: false,
                    pathOptions: {
                        stroke: true,
                        weight: 2,
                        color: '#ff5050'
                    }
                })
            }
        ]
    }).addTo(mymap);
  {% endfor %}
  function changeDivHeight() {
    var f_map =  document.getElementById("f_map");
    document.getElementById("mapid").style.width = f_map.offsetWidth;
    mymap.invalidateSize(true);
}
</script>
{% endblock jsbd %}

