{% extends "base/page_base_user.html" %}
{% load static %}
{% block brandlink %}
  {% url 'mU_index' u_id %}
{% endblock brandlink %}

{% block brand_small %}
Manage your own Virtual Products
{% endblock brand_small %}

{% block title %}
product view
{% endblock title %}

{% block sidebar %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar-light bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3 pl-3">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link " href="{% url 'mU_index'  u_id %}">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'mU_p_show'  u_id %}">
          <span data-feather="file"></span>
          Products
        </a>
      </li>
    </ul>
  </div>
  <!--
  <div class="navbar-nav sticky-bottom md-block" id="navbarSupportedHomepage">
    <ul class="navbar-nav text-white">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Hi, {{request.session.already_login.u_name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <button class="btn btn-link" type="button" data-toggle="modal" data-target="#ConfirmExit" style="font-size:0.5rem;color:#000">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
  -->
</nav>
{% endblock sidebar %}

{% block page_view %}
<form>
<label for="p_name">Product Name: </label>
<select type="text" class="selectpicker show-tick form-control" id="p_name" data-width="98%" data-first-option="false" title="Choose one exist Manufacturer" required data-live-search="true" name="p_manu">
  <option selected>{{product.p_name}}</option>
  {% for product in P_list %}
    <option>{{product.p_name}}</option>
  {% endfor %}
</select>
<button type="submit" class="btn btn-dark mt-2">
    Submit
</button>
</form>

<h3>Constructor Name</h3>
<table class="table table-bordered table-striped table-sm" id="u_name" >
  <thead>
    <tr style="font-size:.5rem">
      <th>Name</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
  {% for name,email in user_dic.items %}
    <tr class="text-center" style="font-size:.75rem">
      <td>{{ name }}</td>
      <td>{{ email }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<label for="p_manu">Manufacturers</label>
<table class="table table-bordered table-striped table-sm" id="p_manu">
  <thead>
    <tr style="font-size:.5rem">
      <th>Name</th>
      <th>Info</th>
      <th>Add Time</th>
    </tr>
  </thead>
  <tbody>
  {% for key,Manu in loc_dic.items %}
    <tr class="text-center" style="font-size:.75rem">
      <td>{{ Manu.name }}</td>
      <td>{{ Manu.parent_info }}</td>
      <td>{{ Manu.addtime }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<div class="container-fluid my-3">
    {{ map|safe }}
</div>
{% endblock page_view %}

}